<div id="app">
    <!-- Statusbar overlay -->
    <div class="statusbar"></div>

    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">

      <home-page key="home"></home-page>
      <about-page key="about"></about-page>
    </div>
  </div>